body
{	
	font-family: 'Comfortaa', cursive;

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:  100% 100%;
	overflow: hidden;
}

.popup
{
	top: 10%;
	left: 15%;

	height: 76%;
	width: 70%;

	overflow: auto;

	position: absolute;

	opacity: 0; /* per il fadeIn */
	background-color: rgba(180,180,180,0.4);
}

.arrow
{
	margin-left: 20px;
	margin-right: 10px;
}

h1
{
	padding-top: 6px;
	padding-bottom: 15px;
}

h2
{
	margin-top: 5%;
	margin-left: 20px;
	margin-right: 20px;
}

p
{
	margin: 20px;
	/*  font-weight: bold;*/

}

footer
{
	opacity: 0; /* per il fadeIn */
	background-color: rgba(180,180,180,0.4);

	text-align: center;	

	height: 4%;

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;	
}

footer p
{
	font-weight: bolder;
	margin: 2px;
} 

img.centered
{
	display: block;
	margin-left: auto;
	margin-right: auto;

	max-width: 100%;
	max-height: 100%;
}

/* non visitato */
a:link {
  color: GreenYellow;
}

/* visitato */
a:visited {
  color: darkred	;
}

#disclaimer{
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	text-align: center;
	border: 4px outset #DB0C09;
	background: rgb(255,0,0, 0.1);
	background: linear-gradient(135deg, rgb(255,0,0, 0.1) 0%, rgb(219,0,0, 0.1) 50%, rgb(61,0,0, 0.1) 100%); 
}
